.FullPost {
    width: 80%;
    margin: 20px auto;
    padding: 1em;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    color: #CDCDCD;
    white-space: pre-line;
}

.FullPost button {
    margin: 1em;
    padding: 10px 20px;
    border: 1px solid #CDCDCD;
    background-color: transparent;
    color: #CDCDCD;
    cursor: pointer;
}

.FullPost button:hover,
.FullPost button:active {
    color: white;
    background-color: #fa923f;
}