.Form {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.Form label {
    display: block;
    margin: 1em auto;
    text-align: center;
    font-weight: bold;
    color: #CDCDCD;
}

.Form input,
.Form textarea {
    display: block;
    width: 80%;
    border: 1px solid black;
    outline: none;
    margin: auto;
    text-indent: 3px;
    
}

.Form button {
    margin: 1em 0;
    padding: 10px 20px;
    border: 1px solid #CDCDCD;
    background-color: transparent;
    color: #CDCDCD;
    cursor: pointer;
}

.Form button:hover,
.Form button:active {
    color: white;
    background-color: #fa923f;
}