.Post {
    padding: 1em;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 1em;
    cursor: pointer;
    color: #CDCDCD;
    min-width: 400px;
}

.Post:hover {
    background-color: #f2e5dc;
    color: #fa923f;
}

.Post * {
    margin-right: 4em; 

}